
@font-face {
  font-family: "Camaleon";
  src: url("../fonts/CALLIG.ttf") format("truetype");
}

@font-face {
  font-family: "Felix";
  src: url("../fonts/FELIX.ttf") format("truetype");
}


* {
  margin: 0;
  padding: 0;
}

body {
  background: #FFF;
  background: linear-gradient(0deg, rgba(227,181,86,0.8) 0%, rgba(224,194,132,0.8) 60%, rgba(219,201,164,1) 100%);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: inherit;
}

.box-s {
  box-sizing: border-box;
}

.display-ib {
  display: inline-block;
}


/* ###################### HEADER ###################### */


#header {
  width: 100%;
  background-color: #A1A499;
  border-bottom: solid black 1px;
  padding: 0 10px 0 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

#logo-principal {
  flex: 1.5;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 270px;
}

#logo-principal img {
  height: 80%;
  transition: all .15s ease-in-out;
}

#logo-principal img:hover {
  transition: all .15s ease-in-out;
  transform: scale(1.1) rotate(-10deg);
}

#logo-principal h1 {
  color: #fff;
  font-family: 'Camaleon';
  font-size: 120%;
  font-weight: ;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px #ffab00,
    -2px -2px 2px #ffab00,
    0px 2px 2px #ffab00,
    2px 0px 2px #ffab00;
  display: inline-block;
  position: relative;
  left: 3px;
  transition: all .15s ease-in-out;
}

#logo-principal h1:hover {
  transition: all .15s ease-in-out;
  transform: scale(1.05);
}

.entre-medio {
  flex: 1.8;
  height: 0;
  overflow: hidden;
  min-width: 250px;
}

#logos-redes {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  align-items: center;
  justify-content: center;
  min-width: 350px;
  max-width: 360px;
  margin: 10px 0;
}

#logos-redes a {
  display: inline-block;
  width: 50px;
  margin: 0 15px;

}

#logos-redes a img {
  width: 100%;
  transition: all .15s ease-in-out;
}

.logos-efect img:hover {
  transition: all .15s ease-in-out;
  box-shadow: 2.5px 2px 0px 0px rgba(69 69 69 / .6);
  transform: scale(1.2);
}


/* ###################### NAV ###################### */


#nav {
  width: 100%;
  background-color: #9C9583ee;
  border-bottom: solid black 2px;
  padding: 8px 0;
  box-shadow: 0px -2px 1px 3px rgba(69, 69, 69, 0.3) inset;
}

#nav ol {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

#nav ol li {
  display: inline-block;
  background-color: #564627dd;
  padding: 4px;
  margin: 2px;
  border-radius: 0.5em;
}

#nav a {
  flex: 1;
  color: #ffab00;
  text-shadow: 2px 2px 1px rgba(0 0 0 / .75);
  margin: 0 auto;
  text-align: center;
  font-weight: 600;
  transition: all .15s ease-in-out;
}

#nav a:hover {
  transition: all .15s ease-in-out;
  color: #e19909;
}

#nav a:active {
  color: #ffab00;
  text-shadow: 1px 1px 1px rgba(0 0 0 / .75);
  transform: translate(1px, 1px);
}

nav .divisor-vertical {
  width: 0;
  border-left: black 1px solid;
  min-height: 30px;
  max-height: 60px;
}


/* ###################### MAIN ###################### */


#main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 15px 0 27px 0;
}


/* ###################### SECTION ###################### */


#section {
  background-color: #CADBC8;
  flex: 3;
  min-width: 320px;
  border: rgba(69 69 69 / .8) 1px solid;
  margin: 0 10px 15px;
  padding: 35px;
}

#presentacion {
  text-align: center;
}

#presentacion h1 {
  color: #FFAB00;
  font-size: 1.625em;
  text-decoration: underline;
  text-shadow: 2px 2px 1px black;
}

#presentacion h3 {
  color: #000;
  font-size: 1.125em;
  margin: 1% 0 3% 0;
  font-weight: 500;
}

#img-des {
  width: 100%;
}

#img-des::after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
}

#img-des img {
  width: 55%;
  float: left;
  box-shadow: 4px 4px 7px 2px rgba(69 69 69 / .8);
  margin: 1.5%;
}

#img-des #descripcion {
  text-align: center;
  margin: auto 0;
}

#img-des #descripcion p {
  text-align: justify;
}

#div-center {
  width: 85%;
  margin: 2% auto;
  display: flex;
  justify-content: space-between;
}

#div-center audio {
  margin: auto 0 0 0;
  width: 50%;
  height: 42px;
  border: 2px #FFAB00 solid;
  background-color: #f1f3f4;
  box-shadow: 4px 3px 6px 1px rgba(69 69 69 / .8);
  border-radius: 1em;
}

#div-center a {
  width: 40%;
}

#div-center a img{
  width: 100%;
  transition: all .15s ease-in-out;
}

#div-center a img:hover {
  transition: all .15s ease-in-out;
  transform: scale(1.1);
}


.sub-subtitulo {
  color: #ffbc38;
  text-shadow: 1px 1px 1px black;
  text-decoration: underline;
  margin-bottom: 15px;
}

#margin-ul {
  margin: 0 0 2% 0;
  margin-left: 15px;
}

#margin-ol {
  margin-left: 15px;
}

#video-ubic {
  width: 100%;
  margin: 2% auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#video-ubic iframe {
  width: 75%;
  height: 350px;
  box-shadow: 4px 4px 7px 2px rgba(69 69 69 / .8);
}

#video-ubic a {
  color: #FFAB00;
  text-shadow: 1px 0px 1px black,
    -1px 0px 1px black,
    0px 1px 1px black,
    0px -1px 1px black;
  transition: all .20s ease-in-out;
  margin-top: 4.5%;
}

#video-ubic a:hover {
  transition: all .20s ease-in-out;
  transform: scale(1.030);
}

#video-ubic a:active {
  transition: all .20s ease-in-out;
  text-shadow: none;
}


/* ###################### ASIDE ###################### */


#aside {
  background-color: #B0BBBF;
  flex: 1;
  min-width: 200px;
  border: rgba(69 69 69 / .8) 1px solid;
  margin: 0 10px 15px;
  padding: 35px;
}

#cocinero-info {
  text-align: center;
}

.divisor-horizontal {
  width: 80%;
  height: 0px;
  border-top: 1px solid rgba(132 132 132 / 1);
  border-style:;
  margin: 15px auto;
}

#cocinero-info img {
  width: 80%;
  box-shadow: 4px 4px 7px 2px rgba(69 69 69 / .8);
}

#cocinero-info h3 {
  color: #FFF;
  text-shadow: 3px 2px 0px #ffab00,
    4px 3px 2px black;
}

#cocinero-info h4 {
  margin-top: 15px;
  margin-bottom: 8px;
  font-weight: 600;
}

#cocinero-info a h4 {
  color: #103cb5;
}

#cocinero-info a h4:hover {
  text-decoration: underline;
}

#cocinero-info h5 {
  font-size: 0.9375em;
  font-weight: 500;
  text-align: justify;
}


/* ###################### FOOTER ###################### */


#footer {
  background-color: #26272b;
  height: 30vh;
  clear: both;
  width: 100%;
  padding: 25px;
}

#icono-pag .logo-pag {
  width: 58px;
}

#icono-pag {
  height: 0;
  position: relative;
  bottom: 52px;
}

#copyright {

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#copyright p {
  font-family: "Felix";
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 0.85em;
  color: #6F6F6F;
  text-align: center;
}

#copyright a {
  text-decoration: none;
  color: #9c9c9c;
}

#copyright a:hover {
  text-decoration: none;
  color: #c2c0c0;
}

#logos-redes-footer {
  width: 230px;
  display: flex;
  justify-content: space-between;
}

#logos-redes-footer img {
  width: 40px;
  transition: all .15s ease-in-out;
}


/* ###################### CONTACTO ###################### */


#contact h1,
#contact h4 {
  text-align: center;
  margin: 0 0 2% 0;
}

#contact h4 {
  font-weight: 500;
}

#form {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto 3%;
}

#flex-space {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}

label {
  color: #000;
}

.rows {
  width: 100%;
  display: inline-block;
}

.two-col {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.two-col li {
  display: inline-block;
}

.text-input {
  font-size: 1.0625em;
  width: 216px;
  height: 25px;
}

.rows textarea {
  min-width: 200px;
  max-width: 100%;
  min-height: 80px;
  max-height: 180px;
  font-size: 1.0625em;
  font-family: inherit;
  padding: 5px;
}

select {
  font-size: 1em;
  width: 220px;
  height: 28px;
}

.boton-enviar {
  font-size: 1.0625em;
  width: 100px;
  height: 30px;
  background-color: #ffab00;
  transition: .2s;
}

.boton-enviar:hover {
  background-color: #db9200;
  transition: .3s;
}
